<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celery Project</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About us</a></li>
        <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>
    <h2>home page</h2>
    <h4>addition {{result1}}</h4>
    <hr>
    <h4>subtraction {{result2}}</h4>
    <hr>
</body>
</html>